@media all and (max-width: 768px) {
  .gallery {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  .gallery > * {
    width: 100%;
  }

  .spotlight {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
  }

  .spotlight > * {
    flex-shrink: 1;
    flex-grow: 0;
  }

  .spotlight > * {
    width: 100%;
  }

  .spotlight.alt {
    background: #1e1f23;
    color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    text-align: center;
  }

  .spotlight .inner {
    padding: 2.5rem 1rem;
  }

  .inner .wrapper.style2 {
    background: #1e1f23;
    padding: 0;
  }
}
