html {
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
}

section {
    margin: 40px auto;
    width: 250px;
    height: 250px;
    border: 2px dotted rgb(6, 195, 117);
    text-align: center;
}

section p {
    width: 100%;
    padding: 20px;
    border: 2px solid rgb(17, 60, 204);
}