@import url(https://use.fontawesome.com/releases/v5.10.2/css/all.css);

ul {
    display: flex;
}

li {
    background-color: #EEEEEE;
    border-radius: 50%;
    padding: 12px;
    margin: 10px;
    list-style-type: none;
}

i {
    color: #262626;
    font-size: 20px;
}
