html {
    font-family: Helvetica, sans-serif;
}

body {
    max-width: 1100px;
    margin: 50px auto;
}

header li a {
    color: #009D00;
    text-decoration: none;
}

h1 {
    margin-right: 50px;
}

h1, nav {
    display: inline-block;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

header {
    border-bottom: 1px solid black;
}

