body {
    display: flex;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    align-items: center;
}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: 1px 1px 20px 4px grey;
    width: 400px;
    margin: 10px 40px;
    padding: 12px 16px;
  }

  p {
      font-family: Helvetica, sans-serif;
  }